/* ============================================
   SECTION 2: FOUR BLOCKS
   ============================================ */
.four-blocks {
  padding: 101px 0 98px;
  background:
    linear-gradient(#f7f5f0b9, #f7f5f0b9), url("../images/20%25Opacity.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-blend-mode: multiply; */
}

/* Centered header with bordered title */
.four-blocks-header {
  text-align: center;
  margin: 0 auto 39px;
  padding: 0 5%;
}

.four-blocks-title-wrapper {
  margin-bottom: 14px;
  display: inline-block;
  padding-left: 2.5px;
}

.four-blocks-title {
  font-family: var(--font-serif);
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.88px;
  line-height: 53.04px;
  color: var(--color-black);
}

.four-blocks-title em {
  font-style: italic;
  font-weight: 300;
}

.four-blocks-desc {
  font-size: var(--text-lg);
  color: var(--text-light);
  line-height: 1.7;
  margin-bottom: 23.9px;
}

/* 2x2 grid with horizontal gap, padded sides */
.four-blocks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 83px 30px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.block-card {
  overflow: hidden;
}

.block-card-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.block-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-card-content {
  padding: 29px 0 6px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.block-card-meta {
  flex: 1;
}

.block-card-number {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-light);
  line-height: 19.18px;
  letter-spacing: 0.8px;
}

.block-card-number::after {
  content: "";
  display: block;
  width: 49.2px;
  height: 1px;
  background: var(--text-light);
  transform: translateY(1.5px);
}

.block-card-title {
  font-family: var(--font-serif);
  font-size: 28px;
  font-weight: 400;
  line-height: 40.8px;
  letter-spacing: -0.68px;
  color: var(--black);
  margin-top: 8px;
}

.block-card-text {
  margin-top: -3px;
  font-family: var(--font-sans);
  font-size: 17px;
  font-weight: 400;
  line-height: 27.2px;
  letter-spacing: 0%;
  max-width: 350px;
  color: var(--text-light);
}

.block-card-btn {
  flex-shrink: 0;
  align-self: flex-end;
  transform: translate(-12px, -10px);
}

.btn-outline {
  display: inline-block;
  padding: 14px 21.5px;
  border: 1px solid var(--text-light);
  font-family: var(--font-sans);
  font-size: 13px;
  list-style: 100%;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: var(--color-text);
  cursor: pointer;
  font-weight: 500;
  border-radius: 9999px;
}

.btn-outline span {
  display: inline-block;
  transform: translateX(2px);
}

/* .btn-outline:hover {
  background: var(--olive);
  color: #fff;
  border-color: var(--olive);
  opacity: 1;
} */
